#container {
    margin: 20px;
}

.movieBtn, #submit-btn {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#GIF-display-area {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

img {
    margin-right: 15px;
    margin-bottom: 5px;
}

.rating {
    margin-bottom: 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.imgRating {
    float: left;
}

#createMovieBtn {
    width: 35%;
    float: right;
    position: inherit;
}

#movie-title-label {
    margin-top: 20px;
    margin-bottom: 15px;
    /* float: right;
    clear: both; */
}

input {
    margin-bottom: 15px;
    display: block;
}

#status-msg {
    color: red;
}