#container {
    margin: 20px;
}

.movieBtn, #submit-btn {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#GIF-display-area {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

img {
    margin-right: 15px;
    margin-bottom: 5px;
}

.rating {
    margin-bottom: 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.imgRating {
    float: left;
}

#createMovieBtn {
    width: 35%;
    float: right;
    position: inherit;
}

#movie-title-label {
    margin-top: 20px;
    margin-bottom: 15px;
    /* float: right;
    clear: both; */
}

input {
    margin-bottom: 15px;
    display: block;
}

#status-msg {
    color: red;
}

#more-movie-info {
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    display: block; 
}

#year-released-title,
#short-plot-title,
#movie-awards-title {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

#year-released,
#short-plot,
#movie-awards {
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#year-released, #movie-awards {
    text-align: center;
}
#short-plot {
    text-align: justify; 
}


/* @media queries go here (bottom of style.css) */
@media only screen and (max-width: 980px) {
    /* For large screen devices */
    #container {
        width: 100%;
        /* background-color: yellow; */
    }
/* 
    #GIF-display-area {
        background-color: white;
    }
    
    #createMovieBtn {
        background-color: orange;
    }
    
    
    #user-input-area {
        background-color: lightblue;
        width: 100%;
    }
    
    #more-movie-info {
        background-color: pink;
        width: 100%;
    } */
}

@media only screen and (max-width: 768px) {
    /* For medium screen devices */
    #container {
        width: 100%;
    }
    
}

@media only screen and (max-width: 640px) {
    /* For small screen devices */
    #container {
        width:  100%;
    }
}